:root {
    --color-black: #292B2E;
    --decoration: none;
    --p: 30px;
}

body {
    background: rgba(33, 37, 41, 1);
    color: white;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/*Заголовок*/

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.ultitle {
    font-family: 'inter', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    min-width: 35%;
    padding: 7px 0 7px 0;
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
    font-size: 18px;
}

.mlogo {
    padding: 15px 10px 0 0;
}

li:hover {
    color: rgba(255, 183, 66, 1);
}

/*Про мене*/

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 150px 200px 100px 200px;
}

.hi {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.myname {
    border-bottom: 1px solid rgba(255, 183, 66, 1);
    color: rgba(255, 183, 66, 1);
}

a {
    text-decoration: var(--decoration);
}

.pos {
    font-family: 'inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 48px 0;
}

.abouttext {
    font-family: 'inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.avatar {
    margin: 0 auto;
    width: 210px;
    height: 222.73px;
}

/* Картки*/

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    background: rgba(41, 43, 46, 1);
    border-radius: 10px;
    align-items: center;
    padding: calc(var(--p) - 5px) var(--p);
    box-sizing: border-box;
}

.card:hover {
    background: linear-gradient(to right, rgba(255, 183, 66, 1), rgba(255, 123, 66, 0.76));
}

.card:hover .cardcontent>div {
    color: black;
}


.cardcontent>div:first-child {
    font-family: 'inter', sans-serif;
    color: #FFB742;
    font-size: 32px;
    font-weight: 700;
}

.cardcontent>div:last-child {
    font-family: 'inter', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

/* Про мене детальніше */

.aboutme {
    display: flex;
    margin: 0 auto;
    padding-bottom: 50px;
}

.aboutmecontent {
    display: block;
}

.pabout {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin: 0 auto;
}

.phi {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(212, 212, 212, 1);
    margin-bottom: 50px;
}

/* Навички*/

.skills {
    display: flex;
    margin-bottom: 100px;
}

.trstyle{
    background:  rgba(255, 255, 255, 0.08);
}
.tdstyle{
    border-radius: 16px;
    height: 70px;
    width: 120px;
    padding: 1%;
}
.tdstyle:hover{
    background: #FFB74250;
}
.tablestyle{
    width: 100%;
    border-spacing: 16px;
    padding: 0 0 0 40px;
}
.tdstyle > img{
    padding-left: 3px;
}

.myskills {
    display: block;
    margin-right: 100px;
}

.skillsabout {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-top: 0;
}

.skillsabout2 {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.skillstable {
    margin: 0 auto;
}

/* Мої роботи */

.myworks {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.myworkslogo {
    margin: 0 auto;
}

.fworks {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-top: 0;
}

.ultitle2 {
    font-family: 'inter', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    min-width: 35%;
    padding: 7px 0 7px 0;
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
    font-size: 18px;
    margin: 20px 300px 20px 300px;
}

/*Приклади*/

.example{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;


}
.example > div{
    height: auto;
    display: flex;
    flex-direction: column;
}
.img-padding{
    padding-bottom: 4%;
}

.column {
    display: block;
}

/* Відгуки */

.testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 150px 50px 50px 50px;

}

.testimonialslogo {
    margin: 0 auto;
}

.customersays {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.imonbloks {
    display: flex;
    justify-content: center;
}

.stars {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.starslogo {
    padding-right: 7px;
}

.imonblock {
    display: block;
    margin: 70px 90px 20px 5px;
    background: white;
    color: black;
    padding: 45px 30px 20px 30px;
    border-radius: 5px;
}

.imontext {
    text-align: left;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}

.person {
    display: flex;
    margin-bottom: 10px;
}

.personnameposition {
    display: block;
    margin-left: 30px;
    text-align: left;
}

.name {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.position {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*Футер*/

.footer {
    display: flex;
    justify-content: space-between;
    background: #1C1C1C;
    margin: 0 auto;
    text-align: left;
    padding: 150px 0 50px 30px;
}

.firstcolumnfoot {
    display: block;
    margin-right: 100px;
    padding-right: 40px;
}

.kartik {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}

.kartikcolor {
    color: rgba(255, 183, 66, 1);
}

.posfoot {
    font-family: 'work sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(212, 212, 212, 1);
}

.rightcolumnsfoot {
    display: block;
    text-align: left;
    margin-right: 120px;
    margin-left: 30px;

}

.usefullinks {
    font-family: 'work sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.ulsecondcolumnfoot {
    font-family: 'work sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    color: rgba(123, 123, 123, 1);

}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: rgba(123, 123, 123, 1);
}